html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrap {
  margin-top: 50px;
}

.name {
  width: 300px;
}
.introduction {
  width: 600px;
}

.carbon {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-color: black;
  background-color: rgba(240, 237, 237, 0.981);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10%;
  font-style: italic;
}

.direction {
  display: flex;

  flex-direction: row;
  width: fit-content;
}

.files {
  min-width: 320px;
}

.directionRow {
  display: flex;

  flex-direction: row;
  width: fit-content;
}

.lefticon {
  margin-top: 1px;
  height: 30px;
}

.dropdown-menu {
  max-height: 80px;
  overflow: scroll;
}

.listScroll {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-color: black;
  background-color: rgba(240, 237, 237, 0.981);
  padding: 5px;
  margin-bottom: 5pxs;
  border-radius: 10%;
  font-style: italic;
}

.showElement1 {
  display: none;
}
.showElement2 {
  display: none;
}
.showElement3 {
  display: none;
}
.showElement4 {
  display: none;
}
.dropdown {
  display: none;
}

.docArrow {
  display: flex;

  flex-direction: row;
  width: fit-content;
  width: fit-content;
  border-color: black;
  background-color: rgba(240, 237, 237, 0.981);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10%;
  font-style: italic;
}
